p{
	color:white;
	text-align:justify;
	font-family:calibri, verdana, comic sans, tahoma;
	font-size:12pt;
}
body{
	color: white;
	/*background-image: linear-gradient(red, green, blue, yellow);*/
	background-color: grey;
	background-repeat:no-repeat;
	background-position:top right;
	background-attachment:fixed;
	margin:0cm 3cm; /* margin-top&bottom=0cm, margin-left&right=3cm */
}
hr{
	border:3px;
	border-color:black;
	border-style:hidden;
}
/* groupping */
fieldset, legend{
	border:rgb(0, 0, 0) groove 3px;	
}

legend{
	padding:10px; /* all padding */
	background-color:rgb(0, 0, 0);
	color:rgb(255, 255, 255);
	font-weight:bold;
	font-size:14pt;
	text-transform:uppercase;
	font-family:ubuntu, calibri;
	letter-spacing:5px;
}

table{
	border:10px ridge rgb(255, 255, 255);
	margin:auto;
}

td{
	padding:5x;
	border:1px solid rgb(255, 255, 255);
}
img{width: 300px;
     height: 200px;
     border: 4px solid transparent;
     padding: 10px;
}